__pycache__/
log
log/
results/
results-full/
weights/
videos/
baselines/
check*/
*/__pycache__/
pilot_test/
dataset/mus-vox
outputs/
demo/

render.sh

cmd
check_*.py
inference-*.py
.*.swp
.*.py.swp
*/.*.py.swp
*.pt

